    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">l'Assemblée nationale</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link" href="#">ecolo nupes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">gauuche  democrates  nupes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">socialiste  nupes </a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#"> la france  insoumise   nupes  </a>
        </li>

                <li class="nav-item">
          <a class="nav-link" href="#">horizons</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"> liot </a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="#"> les  republicains</a>
        </li>

            <li class="nav-item">
          <a class="nav-link" href="#">rennaissance</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">rassemblant nationale</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">non inscrit</a>
        </li>


       

        </li>
      </ul>

    </div>
  </div>
</nav>