{% extends 'base.html.twig' %}

{% block title %}
Assemblée nationale
{% endblock %}

{% block body %}
 


<div class="btn-group-vertical">
    <button type="button" class="btn btn-light"  >Démocrate (MoDem et Indépendants)</button>
    <button type="button" class="btn btn-light" >Horizons et apparentés</button>
    <button type="button" class="btn btn-light"  >Les Républicains</button>
    <button type="button" class="btn btn-light"  >Libertés, Indépendants, Outre-mer et Territoires</button>
    <button type="button" class="btn btn-light"  >Non inscrit</button>
    <button type="button" class="btn btn-light"  >Rassemblement National</button>
    <button type="button" class="btn btn-light"  >Renaissance</button>
    <button type="button" class="btn btn-light"  >Écologiste - NUPES</button>
    <button type="button" class="btn btn-light">Gauche démocrate et républicaine - NUPES</button>
    <button type="button" class="btn btn-light">La France insoumise - Nouvelle Union Populaire écologique et sociale</button>
    <button type="button" class="btn btn-light">Socialistes et apparentés (membre de l’intergroupe NUPES)</button>
  </div>


{% endblock %}