{% extends 'base.html.twig' %}

{% block title %}
Assemblée nationale
{% endblock %}

{% block body %}
<div class="jumbotron mt-4">
  <h1 class="display-4">les groupes  de l 'assemblée  nationale </h1>
  <p class="lead">a travers ces pages  ,vous  pourrait  découvrir les  groupes  parlementaires de la haute assemblée </p>
  <hr class="my-4">
  <p></p>
  <a class="btn btn-primary btn-dark" href="#" role="button">suivez nous </a>
</div>
{% endblock %}